{% extends "base.html" %}
{% block content %}

{% from "settings/_macros.html" import render_errors, render_field %}

<div class='container'>
    <form action="" method="post" name="add_im_set" class="form-horizontal" id='form' enctype=multipart/form-data>
        {{form.hidden_tag()}}

        <div class="row lead">
            <div class="col-md-12">
                <h2>Camera Settings</h2>
            </div>
        </div>

        {% for string_setting in form.cam_strings %}
            <div class="row lead">
                <div class="col-md-12">
                    {{string_setting.label}}
                    {{string_setting(class='form-control',
                                     id=string_setting.id+'_'+string_setting.label)}}
                    {{render_errors(string_setting)}}
                </div>
            </div>
        {% endfor %}

        {% for select_setting in form.cam_selects %}
            <div class="row lead">
                <div class="col-md-12">
                    {{select_setting.label}}
                    {{select_setting(class='form-control',
                                     id=select_setting.id+'_'+select_setting.label)}}
                    {{render_errors(select_setting)}}
                </div>
            </div>
        {% endfor %}

        <div class="row lead">
            <div class="col-md-12">
                <h2>Altimeter Settings</h2>
            </div>
        </div>

        {% for string_setting in form.alti_strings %}
            <div class="row lead">
                <div class="col-md-12">
                    {{string_setting.label}}
                    {{string_setting(class='form-control',
                                     id=string_setting.id+'_'+string_setting.label)}}
                    {{render_errors(string_setting)}}
                </div>
            </div>
        {% endfor %}

        {% for select_setting in form.alti_selects %}
            <div class="row lead">
                <div class="col-md-12">
                    {{select_setting.label}}
                    {{select_setting(class='form-control',
                                     id=select_setting.id+'_'+select_setting.label)}}
                    {{render_errors(select_setting)}}
                </div>
            </div>
        {% endfor %}

        <div class="row lead">
            <div class="col-md-12">
                <h2>Miscellaneous Settings</h2>
            </div>
        </div>

        {% for string_setting in form.misc_strings %}
            <div class="row lead">
                <div class="col-md-12">
                    {{string_setting.label}}
                    {{string_setting(class='form-control',
                                     id=string_setting.id+'_'+string_setting.label)}}
                    {{render_errors(string_setting)}}
                </div>
            </div>
        {% endfor %}

        {% for select_setting in form.misc_selects %}
            <div class="row lead">
                <div class="col-md-12">
                    {{select_setting.label}}
                    {{select_setting(class='form-control',
                                     id=select_setting.id+'_'+select_setting.label)}}
                    {{render_errors(select_setting)}}
                </div>
            </div>
        {% endfor %}

        <div class="row lead">
            <div class="col-md-12">
                <h2>Web Settings</h2>
            </div>
        </div>

        {% for string_setting in form.web_strings %}
            <div class="row lead">
                <div class="col-md-12">
                    {{string_setting.label}}
                    {{string_setting(class='form-control',
                                     id=string_setting.id+'_'+string_setting.label)}}
                    {{render_errors(string_setting)}}
                </div>
            </div>
        {% endfor %}

        {% for select_setting in form.web_selects %}
            <div class="row lead">
                <div class="col-md-12">
                    {{select_setting.label}}
                    {{select_setting(class='form-control',
                                     id=select_setting.id+'_'+select_setting.label)}}
                    {{render_errors(select_setting)}}
                </div>
            </div>
        {% endfor %}

        <div class="row lead">
            <div class="col-md-6">
                {{ form.save(class='btn btn-block btn-primary', id='btn_save') }}
            </div>
            <div class="col-md-6">
                {{ form.revert(class='btn btn-block btn-danger', id='btn_revert') }}
            </div>
        </div>

    </form>
</div>

{% endblock %}
