# Folders
/notes
/downloads
/tmp
/logs
/.idea
/.coveragerc
/htmlcov
/__pycache__
/app/__pycache__
/*/__pycache__
/.coveragerc
/htmlcov
/coverage_html
node_modules
/build
/focus

# !.gitignore

# File Types
*.pyc
*.dot
*.png
*.orig
*.dot
*.zip
*.tern-project
*.log
*.log.*
*.bak
*.swp
*.save
*.tags
*.gz
*~

# specific files
local_paths.py
init_config.txt
initial.cfg
.pylintrc
pylintrc
test_local.py
delete_log_files.py
SD_card_reader.spec
setup.py
*.coverage
