# Folders
/notes
/downloads
/tmp
/logs
/.idea
/.coveragerc
/htmlcov
/__pycache__
/app/__pycache__
/*/__pycache__
/.coverage
/htmlcov
node_modules

*
!.gitignore

# File Types
*.pyc
*.orig
*.dot
*.png
*.zip
*.tern-project
*.log
*.log.*
*.bak
*.swp
*.save
*.tags
*~

# specific files
local_paths.py
init_config.txt
initial.cfg
pylintrc
test_local.py
delete_log_files.py
