# Folders
/deploy-backups
/notes
/downloads
/tmp
/logs
/.idea
/.vscode
/.venv
/htmlcov
/coverage_html
__pycache__/
*.coverage
node_modules
/build
/focus

# !.gitignore

# File Types
*.pyc
*.dot
*.png
*.orig
*.dot
*.zip
*.tern-project
*.log
*.log.*
*.bak
*.bak-*
*.pre-*
*.swp
*.save
*.tags
*.gz
*~

# Local configuration
init_config.txt
initial.cfg
secrets.json
