# An Example Comment
[Camera]
shutterspeed: 1/2500
iso: 500

[Altimeter]
measurement_timeout: 2
num_frames_to_avg: 2

[Misc]
image_capture_interval: 9.0
session_description: Super man

[Web]
alti_required: dummy
alti_start_display: open
cams_required: yes
cams_start_display: open
refresh_rate: 1000
img_too_old_count: 5
timeout_period: 5000
