# Copy to /etc/systemd/system
[Unit]
Description=Tricap Launcher
After=network-online.target
Wants=network-online.target

[Service]
User=root
Restart=always
ExecStartPre=/home/radxa/tricap/get_time_from_camera.sh
ExecStart=/home/radxa/tricap/tricap_launcher.sh
PermissionsStartOnly=True

[Install]
WantedBy=multi-user.target
