[Unit]
Description=Periodically log SkySeeker AP health

[Timer]
OnBootSec=60s
OnUnitInactiveSec=15s
AccuracySec=2s

[Install]
WantedBy=timers.target
