[Unit]
Description=Periodically record device health and recover AP services

[Timer]
OnBootSec=90s
OnUnitInactiveSec=15s
AccuracySec=2s

[Install]
WantedBy=timers.target
