[Unit]
Description=SkySeeker capture controller and web interface
After=NetworkManager.service skyseeker-standalone-net.service
Wants=NetworkManager.service skyseeker-standalone-net.service

[Service]
User=root
Restart=always
RestartSec=5
WorkingDirectory=/home/radxa/tricap
ExecStart=/usr/bin/python3 /home/radxa/tricap/tricap.py

[Install]
WantedBy=multi-user.target
