<!DOCTYPE html>

<script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}" type="text/javascript"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tricap.css') }}">

<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<html lang="en" xmlns="http://www.w3.org/1999.xhtml">

<header>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    {% if title %}
    <title>TriCap - {{ title }}</title>
    {% else %}
    <title>TriCap - Multicamera image capturing</title>
    {% endif %}
</header>

<body>
    <div class="section">
      <div class="container" id="base_container">
        <div class="row">
          <div class="col-xs-11">
            <div class="alert alert-success" id="alt_main_status">
              <h1 id="h_main_status">TriCap</h1>
            </div>
          </div>
          <div class="col-xs-1">
            <div class="btn-group btn-group-sm">
              <a class="btn btn-block btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" id="btn_menu"><i class="fa fa-2x fa-bars fa-fw"></i></a>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                  <a href="{{ url_for('home.index')}}">Home</a>
                </li>
                <li>
                  <a href="{{ url_for('settings.settings')}}" id="a_settings">Settings</a>
                </li>
                <li>
                  <a href="{{ url_for('showlog.showlog')}}" id='a_showlog'>Log</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="{{ url_for('home.index')}}" id="a_test">Test</a>
                </li>
                <li>
                  <a href="{{ url_for('home.reset')}}" id="a_reset">Reset</a>
                </li>
                <li>
                  <a href="#" id="a_check_gps">Check GPS</a>
                </li>
                <li>
                  <a href="#" id="a_check_sms">Check SMS</a>
                </li>
                <li>
                  <a href="{{ url_for('camera.camera')}}" id="a_check_camera">Check Camera</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block base_js %}
        <script type="text/javascript">
            {% include 'js/base.js' %}
        </script>
    {% endblock %}

    {% block content %}{% endblock %}

</body>
</html>
