<!DOCTYPE html>

<script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}" type="text/javascript"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css">

<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<html lang="en" xmlns="http://www.w3.org/1999.xhtml">

<header>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    {% if title %}
    <title>TriCap - {{ title }}</title>
    {% else %}
    <title>TriCap - Multicamera image capturing</title>
    {% endif %}
</header>

<body>
    <nav class="navbar navbar-default" id="base-navbar">
        <div class="container-fluid" id="base-navbar-div">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a id='nav_a_home' class="navbar-brand" href="{{ url_for('home.index') }}">TriCap</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav" id='navbar-list'>
                    <li><a id='nav_log' href="{{ url_for('showlog.showlog')}}">Show Log</a></li>
                </ul>
            </div>
            </div><!-- /.container-fluid -->
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <hr />
        <ul class="flashes">
            {%for message in messages %}
                <li> {{message}} </li>
            {% endfor %}
        </ul>
    {% endif %}
    <hr>
    {% endwith %}

    {% block content %}{% endblock %}

</body>
</html>
