{% extends "base.html" %}
{% block content %}

    <div class='container'>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" id="alt_main_status" style="text-align:center;">
                  <h2 id="h_main_status">Camera Rig Information</h2>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="alert alert-info" style="text-align:center;" id="middle_camera">
                    <h3>Left Camera: {{serial_number[0]}}</h3>
                    <h5>Battery level: {{battery[0]}}%</h5>
                    <h5>Free space: {{free_space[0]}} Mb</h5>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="alert alert-info" style="text-align:center;" id="front_camera">
                    <h3>Centre Camera: {{serial_number[1]}}</h3>
                    <h5>Battery level: {{battery[1]}}%</h5>
                    <h5>Free space: {{free_space[1]}} Mb</h5>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="alert alert-info" style="text-align:center;" id="back_camera">
                    <h3>Right Camera: {{serial_number[2]}}</h3>
                    <h5>Battery level: {{battery[2]}}%</h5>
                    <h5>Free space: {{free_space[2]}} Mb</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info" style="text-align:center;" id="rig_info">
                    <h3>Software information</h3>
                    <h5>Date: {{date}}</h5>
                    <h5>Git id: {{id}}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="alert alert-info" style="text-align:center;" id="refresh_button">
                    <a href="{{ url_for('camera.camera')}}" class="btn btn-sm" style="color: white;" >Refresh</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="alert alert-warning" style="text-align:center;" id="home_button">
                    <a href="{{ url_for('home.index')}}" class="btn btn-sm" style="color: white;" >Return Home</a>
                </div>
            </div>
        </div>
    </div>

    {% block javascript %}
        <script type="text/javascript">
            {% include 'js/camera.js' %}
        </script>
    {% endblock %}

{% endblock %}

