{% extends "base.html" %}
{% block content %}

    <div class='container'>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" id="alt_main_status" style="text-align:center;">
                  <h2 id="h_main_status">Camera Data</h2>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="alert alert-info" id="middle_camera">
                    <h3>Middle Camera: {{serial_number[0]}}</h3>
                    <h5>Battery level: {{battery[0]}}%</h5>
                    <h5>Free space: {{free_space[0]}} Mb</h5>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="alert alert-info" id="front_camera">
                    <h3>Front Camera: {{serial_number[1]}}</h3>
                    <h5>Battery level: {{battery[1]}}%</h5>
                    <h5>Free space: {{free_space[1]}} Mb</h5>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="alert alert-info" id="back_camera">
                    <h3>Back Camera: {{serial_number[2]}}</h3>
                    <h5>Battery level: {{battery[2]}}%</h5>
                    <h5>Free space: {{free_space[2]}} Mb</h5>
                </div>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
                <div class="alert alert-warning" style="text-align:center;" id="home_button">
                    <a href="{{ url_for('home.index')}}" class="btn" style="color: white;" >Return Home</a>
                </div>
            </div>
        </div>
    </div>

    {% block javascript %}
        <script type="text/javascript">
            {% include 'js/camera.js' %}
        </script>
    {% endblock %}

{% endblock %}

